<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a href="#" data-ng-click="setCurrency('HX')" data-ng-class="{active: currency.symbol == 'HX'}">HX</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('mHX')" data-ng-class="{active: currency.symbol == 'mHX'}">mHX</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('atoms')" data-ng-class="{active: currency.symbol == 'atoms'}">atoms</a>
  </li>
</ul>

