@import "theme";

/* Sticky footer styles
-------------------------------------------------- */

@charset "UTF-8";
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Lato-Semibold.woff'); /* IE9 Compat Modes */
  src: local('Lato-Semibold'), 
       url('/fonts/Lato-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Lato-Regular.woff'); /* IE9 Compat Modes */
  src: local('Lato-Regular'), 
       url('/fonts/Lato-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
}
// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 300;
//   src: url('/fonts/source-sans-pro-v9-latin_vietnamese_latin-ext-300.woff'); /* IE9 Compat Modes */
//   src: local('Lato'), 
//        url('/fonts/source-sans-pro-v9-latin_vietnamese_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
//        url('/fonts/source-sans-pro-v9-latin_vietnamese_latin-ext-300.woff') format('woff'), /* Modern Browsers */
// }


html,
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  background-color: #F8F8F8;
  /* The html and body elements cannot have any padding or margin. */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  &.mt-0 {
    margin-top: 0;
    margin-bottom: 25px;
  }
  color: #000;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

a {
  color: $link-blue;
  &:hover {
    color: $link-blue-hover;
  }
}

/* Styling for the ngProgress itself */
#ngProgress {
  background-color: $link-blue !important;
  box-shadow: none !important;
  color: #333333 !important;
  height: 3px !important;
  margin: 0;
  opacity: 0;
  padding: 0;
  z-index: 99998;

  /* Add CSS3 styles for transition smoothing */
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 79px;
  left: 0;
  right: 0;
  z-index: 99999;
}

/* QR modal */
#qr-canvas { display: none; }
#qrcode-scanner-video {
  margin: 0 auto 10px auto;
  display: block;
}
#file-input-wrapper {
  padding: 0;
  width: 100%;
  input {
    opacity: 0;
    padding: 5px;
  }
  span {
    padding-top: 5px;
    width: 100%;
  }
  i {
    display: none;
  }
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -51px;
  /* Pad bottom by footer height */
  padding: 0 0 75px;
}

.m10h { margin: 0 10px; }
.m20h { margin: 0 20px; }
.m5v { margin: 5px 0; }
.m20v { margin: 20px 0; }
.m10v { margin: 10px 0; }
.m50v { margin: 50px 0; }
.m10b { margin-bottom: 10px; }
.m10l { margin-left: 10px; }
.m20t { margin-top: 20px; }
.vm { vertical-align: middle; }
.pa {position: absolute;}
.pr {position: relative;}

.bgwhite {
  background-color: white;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
margin-left: 0;
}
thead {
  background-color: #F8F8F8;
}
.table {
  &.tbl-mt {
    margin-top: 25px;
  }
  .top-row {
    padding-top: 23px;
    border-top: none;
  }
  font-family: 'Lato', monospace;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #ededed;
}

// STYLES FOR NAVBAR

.navbar { 
  min-height: 80px; 
  &-default {
    background-color: #000;
    margin: 0;
    border: 0;
    padding-right: 60px;
    .navbar-toggle { 
      border-color: #fff;
      margin-top: 15px;
      &:hover, &:focus {
        background-color: #333;
      }
      .icon-bar { 
        background-color: #fff; 
      }
    }
    .navbar-nav {
      font-weight: 600;
      margin-left: 40px;
      margin-right: 60px;
      &>li>a {
        color: #FFF;
        font-family: 'Lato', sans-serif;
        padding: 30px 30px;
        &.nav-buttons {
          font-size: 26px;                
        }
        &:hover {
          background-color: $link-blue;
          color: $white
        }
      }
      &>.active {
        &>a {
          background-color: $background;
          color: $link-blue;                
          &:hover {
            background-color: $background;
            color: $link-blue;                
          }
          &:focus {
            background-color: $background;
            color: $link-blue;      
          }
        }
      }
    }
    .status {
      padding: 7px 15px;
      background-color: #181818;
      margin-top: 24px;
      color: #CECED2;
      height: 33px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      .glyphicon-ok {
        color: $success;
      }
      .tooltip {
        margin: 0;
      }
    }
  }
}

.navbar-form {
  margin-top: 15px;
  .form-group {
    display: block;
  }
}

.navbar-brand-list {
  list-style: none;
  padding-left: 20px;
  .navbar-brand {
    padding: 14px 20px 0 0;
    margin-left: 0 !important;
    height: 0;
    line-height: 0;
    .svg-logo {
      height: 75px;
      width: 75px;
      background-image: url(/img/hx-logo-testnet.svg);
      background-size: 35px;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }
}

.navbar-form {
  margin-top: 23.5px;
  width: 34%;
  padding: 0;
  padding-left: 15px;
  .form-control {
    border-left: 0;
    box-shadow: none;
    padding: 0;
    text-align: left;
    font-size: 1.73rem;
    color: #5a6d81;
    height: 33px;
    border-radius: 0;
    border-color: transparent;
  }
}

.nav-tabs.nav-justified>li>a:hover {
  cursor: pointer;
}

.form-group {
  width: 500px;
  max-width: 100%;
}

.gradient {
  background: linear-gradient(to right, #F9FBFC 0%, #F9FBFC 60%, #F4F7F9 50%, #F4F7F9 100%);
}

.m-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 28px 42px;
  margin: 30px 0 0;
  &.tx {
    padding: 30px;
  }
}

.tx-data {
  margin: 0 30px 0px 20px;
}

.block-dp {
  margin: 0 30px;
  .dp-arrow {
    padding: 0 25px;
  }
  .datepicker-text {
    color: $link-blue;
    font-weight: 900;
  }
}

.layout .col-md-12 {
  background-color: #fff;
}
.col-md-12 .column-top-half {
  background-color: #fff;
  padding-bottom: 25px;
}
.col-md-12  .btn-default {
  margin: auto;
  display: block;
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  color: #578FFD;
  padding: 9px 36px;
  border-color: transparent;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.col-md-12 .btn-default:hover{background-color: #f4f7f9;}
.col-md-12 .btn-default:focus{background-color: #e9f8fe;}
.col-md-12 hr {
  margin-top: -16px;
}

.layout.col-md-7, .layout.col-md-4 {
  padding: 80px 0 0 0;
}
.layout .col-md-7 {
  background-color: #fff;
}
.col-md-7 .column-top-half {
  background-color: #fff;
  padding-bottom: 25px;
}
.col-md-7  .btn-default {
  margin: auto;
  display: block;
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  color: #578FFD;
  padding: 9px 36px;
  border-color: transparent;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.col-md-7 .btn-default:hover{background-color: #f4f7f9;}
.col-md-7 .btn-default:focus{background-color: #e9f8fe;}
.col-md-7 hr {
  margin-top: -16px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.col-md-7.column-lower-half {
  padding-top: 30px;
}
.insight {
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-style: italic;
  font-weight: 700;
  overflow: hidden;
  padding-top: 3px;
}

.input-group {
  width: 100%;
}
.input-group-addon {
  background-color: #181818;
  width: 35px;
  padding: 0 5px;
  border-radius: 0;
  border-color: transparent;
}
.svg-search {
  height: 21px;
  width: 21px;
  background-image: url('/img/search.svg');
  background-size: 21px;
  background-repeat: no-repeat;
  margin-top: 5px;
  display: inline-block;
}

#search.loading {
  background-image: url('/img/loading.gif');
  background-position: 5px center;
  background-repeat: no-repeat;
  padding-left: 25px;
}

.loader-gif {
  display: inline-block;
  width: 16px;
  height: 11px;
  background: transparent url(../img/loading.gif) no-repeat;
  margin-left: 5px;
}

#search {
  background-color: #181818;
  color: #ffffff;
}

#search::-webkit-input-placeholder {
  color: #CECED2;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 100;
}

#search::-moz-placeholder {
  color: #CECED2;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

#search-form .glyphicon.glyphicon-search {
  color: #CECED2;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 45%;
}

.line20 {
  border: 1px solid #D4D4D4;
  margin-bottom: 15px;
}

.line10 {
  border: 1px solid #EAEAEA;
  margin: 10px 0;
}

.block-id {
  background-color: #333333;
  border: 3px solid #FFFFFF;
  margin: 0 auto;
  width: 165px;
  color: #fff;
  text-align: center;
  span {
    font-size: 40px;
    margin: 30px 0;
  }
  h2 {
    color: #FFFFFF;
    font-weight: bold;
    line-height: 30px;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
.icon-block {
  color: #FFFFFF;
  font-size: 35px;
  margin-top:  10px;
  h3 {
    color: #fff;
  }
}

.indent {
  margin-left: 15px;
}

.tx-container {
  margin-top: 56px;
}

.tx-row {
  margin-left: 30px
}

.exp-col-btn {
  padding-right: 15px;
}

.block-tx {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #F4F4F4;
  border-radius: 2px;
  margin: 20px 0 10px;
  overflow: hidden;
  padding: 15px;
  border: 1px solid #eee;
}

.iib {
  margin-left: 35px;
  margin-bottom: 10px;
}

.btn {
  font-size: 1.6rem;
  color: #2970ff;
  background-color: #fff;
  border-color: #2970ff;
  margin: 40px 10px 0 0;
  color: #2970ff;
  border-color: #2970ff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 16px 0;
  width: 162px;
  position: relative;
}
.btn-primary {
  background-color: #43a2ca;
  border: 2px solid #428bca;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.active, .open .dropdown-toggle.btn-primary,
.btn-success:hover, .btn-success:focus, .btn-success:active,
.btn-success.active, .open .dropdown-toggle.btn-success,
.btn-danger:hover, .btn-danger:focus, .btn-danger:active,
.btn-danger.active, .open .dropdown-toggle.btn-danger {
  background-color: #fff;
  border: 2px solid #ccc;
  color: #333333;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #fff;
}

.btn-default {
  background-color: #E7E7E7;
}

.btn-success {
  background-color: #2FA4D7;
  border: 2px solid #237FA7;
}

.btn-danger {
  background-color: #AC0015;
  border: 2px solid #6C0000;
}

.blocks {
  width: 195px;
  color: #fff;
}
.txvalues {    
  margin: 5px 5px 0 0;
    color: #fff;
    text-transform: uppercase;
    width: 162px;
    padding: 15px 0;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 1.3rem;
    border-radius: 12px;
  }
  .txvalues-success {
    background-color: $success;
  }
  .txvalues-primary {
    background-color: #2970ff;
  }
  .txvalues-default {
    color: #333333;
    text-align: left;
    text-transform: none;
  } 
  .txvalues-default.fee {
    width: 217px;
  }
  .txvalues-danger {
    width: 197px;
    background-color: #AC0015;
  }
.tx-state-spacing {
  margin-left: 20px;
}
.txvalues-normal {
  background-color: transparent;
  text-transform: none;
  color: #333;
  font-size: 14px;
  font-weight: normal;
}
.text-success {
  color: $success;
}
.text-danger {
  color: $danger;
}


.previous-date {
  float: right;
  padding-right: 20%
}
.svg-previous {
  height: 20px;
  width: 20px;
  background-image: url('/img/previous.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  float: left;
  margin-top: 3px;
}
.next-date {
  float: left;
  padding-left: 20%
}
.svg-next {
  height: 20px;
  width: 20px;
  background-image: url('/img/next.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  float: right;
  margin-top: 3px;
}
.svg-plus {
  height: 18px;
  width: 18px;
  background-image: url('/img/plus.svg');
  background-size: 18px;
  background-repeat: no-repeat;
  display: inline-block;
}
.svg-minus {
  height: 18px;
  width: 18px;
  background-image: url('/img/arrow.svg');
  background-size: 18px;
  background-repeat: no-repeat;
  display: inline-block;
}
.svg-plus:hover, .svg-minue:hover {
  opacity: 0.9;
}
.transactionId {
  font-family: 'Lato', monospace;
}
.svg-calender {
  height: 25px;
  width: 25px;
  background-image: url('/img/calendar.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  display: inline-block;
}

.progress-bar-info { background-color: $link-blue; }
.progress {
  margin-bottom: inherit;
}

/* Set the fixed height of the footer here */
#footer {
  background-color: #333333;
  color: #fff;
  height: 51px;
  overflow: hidden;

}

#footer a.insight {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

#footer a.insight:hover {
  color: #fffffe;
}

#footer a.insight small { font-size: 11px; }
.line-footer { border-top: 2px dashed #ccc; }

#footer .links {
  color: #ddd;
  font-size: 10px;
}

#footer .links a {
  color: #ddd;
}

#footer .links a.selected {
  color: #eee;
  font-weight: bold;
}

#footer .links a:hover {
  text-decoration: none;
  color: #fffffe;
}

.line-bot {
  border-bottom: 1px solid #EAEAEA;
  padding: 0 0 10px 0;
  margin: 0 10px 0 50px;
}
.line-mid { 
  padding: 50px 15px 15px 50px
}
.line-top {
  border-top: 1px solid #EAEAEA;
  padding: 15px 0 0 0;
  margin: 0 10px 0 50px;
}
.bottom-tx-row {
  padding: 0 15px 15px 35px  
}
.date {
    font-size: 3.4rem;
    color: #2970ff;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container { padding: 80px 15px 0;  width: 100% }

#footer > .container { padding: auto 15px; }

.code { font-size: 80%; }

.address { font-size: 11px; }

.no_matching {
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  background-color: #FFFFFF;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: none;
  border: 1px solid #64920F;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  top: 56px;
  width: 300px;
  z-index: 1000;
}

/*Animations*/
.fader.ng-enter {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.fader.ng-enter-active { opacity: 1; }

.tx-bg {
  background-color: #F4F4F4;
  left: 0;
  min-height: 340px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -9999;
}

.badge {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  background-color: #999999;
  border-radius: 9px;
  color: #ffffff;
  font-size: 12.025px;
  font-weight: bold;
  padding: 1px 9px 2px;
  white-space: nowrap;
}

.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.badge-error { background-color: #b94a48; }
.badge-error:hover { background-color: #953b39; }
.badge-warning { background-color: #f89406; }
.badge-warning:hover { background-color: #c67605; }
.badge-success { background-color: #468847; }
.badge-success:hover { background-color: #356635; }
.badge-info { background-color: #3a87ad; }
.badge-info:hover { background-color: #2d6987; }
.badge-inverse { background-color: #333333; }
.badge-inverse:hover { background-color: #1a1a1a; }

.status-page {
  margin: 0 20px;
}
.status {
  .t {
    color: white;
  }
  .text-danger {
    color: $danger;
  }
  .text-warning {
    background: yellow;
    color: black;
  }
}

.btn-copy {
  color: #9b9b9b;
  display: inline-block;
  height: 16px;
  width: 16px;
  outline: none;
  vertical-align: sub;
  background: transparent url('/img/icons/copy.png') center center no-repeat;
  .tooltip {
    display: block;
    margin-left: 20px;
    margin-top: -2px;
    opacity: 0;
  }
  &.zeroclipboard-is-hover { 
    color: #2a6496; 
  }
  &.zeroclipboard-is-active .tooltip { 
    opacity: 1; 
  }
}

.btn-copy:hover, .btn-expand:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.9;
}

.tx-id {
  background-color: #333333;
  border: 3px solid #FFFFFF;
  margin: 0 auto;
  width: 165px;
  color: #FFFFFF;
  text-align: center;
  span { 
    font-size: 40px;
    margin: 30px 0;
  }
}

.page-header { margin-top: 0; }

.panel { margin-bottom: 1em;}
.panel-body {
  padding: 0.7em;
  word-wrap: break-word;
}

/* Index */
#home .btn-more {
  /* border-top: 1px solid #ddd; */
  margin: 20px auto 20px;
  text-align: center;
  width: 90%;
}

#powered .powered-text {
  border-top: 1px solid #ddd;
  margin: 30px auto 0;
  text-align: center;
  width: 90%;
}
#powered .powered-text small {
  background-color: #f4f4f4;
  padding: 4px;
  position: relative;
  top: -12px;
}

#powered a {
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  height: 45px;
}
#powered a.bitcore {
  background-image: url('/img/logo.svg');
  background-size: 80px;
  width: 30%;
}
#powered a.nodejs {
  background-image: url('/img/nodejs.png');
  background-size: 80px;
  width: 30%;
}
#powered a.angularjs {
  background-image: url('/img/angularjs.png');
  background-size: 50px;
  width: 20%;
}
#powered a.leveldb {
  background-image: url('/img/leveldb.png');
  background-size: 50px;
  width: 20%;
}

@keyframes rotateThis {
	from { transform: scale( 1 ) rotate( 0deg );   }
	to   { transform: scale( 1 ) rotate( 360deg ); }
}

@-webkit-keyframes rotateThis {
	from { -webkit-transform: scale( 1 ) rotate( 0deg );   }
	to   { -webkit-transform: scale( 1 ) rotate( 360deg ); }
}

.icon-rotate {
	animation-name: rotateThis;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: rotateThis;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.v_highlight {
  margin-bottom: 1em;
  padding: 1em 0;
  background-color: #e9e9e9;
  overflow: hidden;
  color: #333;
}

a.v_highlight_more {
  background-color: #ededed;
  color: #333;
}

.secondary_navbar {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 64px;
  left: 0;
  text-align: center;
  z-index: 1000;
  margin: 0 auto;
  margin-top: 16px;
  padding: 10px;
  -moz-box-shadow:    0px 1px 4px 0px rgba(0,0,0,0.20);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
  box-shadow:         0px 1px 4px 0px rgba(0,0,0,0.20);
}

.secondary_navbar .container {
  margin: 0 auto;
  padding: 1.8em 0;
}

.secondary_navbar h3, .secondary_navbar p, .secondary_navbar .lead {
  margin: 0;
}

.secondary_navbar p {
  line-height: 1.9em;
}

.hide_snavbar {
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  position: absolute;
  right: 25px;
  padding: 5px 10px;
  background: $link-blue;
  color: #fff;
  cursor: pointer;
  -moz-box-shadow:    0px 2px 3px 0px rgba(0,0,0,0.20);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.20);
  box-shadow:         0px 2px 3px 0px rgba(0,0,0,0.20);
}

#search-form-mobile {
  margin-top: 15px;
}

@media (max-width: 991px) {
  .status {
    display: none;
  } 
  .navbar-form {
    width: auto;
  }
  .btn-copy {
    display: none;
  }
  .col-gray-fixed {
    position:static;
    width: 100%;
    margin-top: 0;
    padding: 0;
  }
  .m50v {
    margin: 15px 0;
  }
  .block-id span {
    font-size: 24px;
    margin: 10px 0;
  }
  .icon-block {
    font-size: initial;
    margin: 10px 0;
  }
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 26px;
    margin-top: 0;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  .insight {
    font-size: 30px;
  }
  .navbar-default .navbar-nav>li>a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .navbar-form {
    width: auto;
  }
  .status {
    display: none;
  } 
  #wrap>.container {
    padding: 50px 15px 0;
  }
  #ngProgress-container {
    top: 50px;
  }
  body {
    font-size: 11px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  .navbar-default .navbar-brand {
    padding: 15px;
  }
  .insight {
    font-size: 26px;
  }
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .navbar-default .navbar-toggle {
    margin-top: 7px;
  }
  .navbar {
    min-height: 80px;
  }
  #search { color: #000; }
  .txvalues {    
    margin: 26px 10px 0 0;
    color: #fff;
    width: 162px;
    padding: 15px 0;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 1.3rem;
    border-collapse: separate;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }
  .txvalues-success {
    color: $success;
  }
  .txvalues-primary {
    color: #2970ff;
  }
  .txvalues-default {
    color: #A09E9E;
  }
  .txvalues-danger {
    color: #AC0015;
  }
}
.dropdown-menu .btn {
  padding: 0;
  margin: 0;
  width: 100%;
}
@media (min-width: 1200px) {
  .blockAgeTable{
    width: 140px;
  }
  .wider{
    width: 488px;
  }
  .col-gray-fixed {
    width: 280px;
  }
  .navbar-form .form-control {
    width: 350px;
  }
}
